* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; /* по умолчанию */  
}

.container {
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.btn-popover {
  position: relative;
  width: 200px;
  height: 40px; 
  margin-top: 70px;
  margin-left: 50px;
  color: #fff;
  background-color: #8e1010;
  border-radius: 4px;
}

.popover {
  position: absolute;
  min-width: 200px;
  max-width: 300px;
  min-height: 60px;
  border-radius: 4px;
  border: 1px solid rgb(242, 234, 234);
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.25);
}

.popover-body {
  padding-left: 10px;
  background-color: white;
}

.popover-header {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(240, 242, 246);
  border-bottom: 1px solid rgb(233, 229, 229);
}

.arrow {
  position: absolute;
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(242, 234, 234);
  left: 50%;
  transform: translateX(-50%); /* Переместить стрелу в центр треугольника*/
  bottom: -10px; 
}
  
.arrow::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid white;
  left: 50%;
  transform: translateX(-50%); /* Переместить стрелу в центр треугольника*/
  bottom: 2px; 
}
